extends layout

block content 
    .container
        h1 First fruit: #{videodata[0].fruit}, with size #{videodata[0].size} and color #{videodata[0].color}
        h1 Second fruit: #{videodata[1].fruit}, with size #{videodata[1].size} and color #{videodata[1].color}
        h1 First fruit: #{videodata[2].fruit}, with size #{videodata[2].size} and color #{videodata[2].color}
         
        